/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #f8f8ff;
    margin: 15px;

}

li {
    font-family: 'Manrope', sans-serif;
    list-style: none;
    text-transform: uppercase;
}

.period {
   color: #01ac6a;
}


/* Navigation Flexbox */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  .right__column {
      align-items: right;
  }

  /* end navigation flexbox */

.logo {
    font-family: 'Manrope', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    margin: 30px;
}

.nav-links {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-links a {
    font-size: 19px;
    font-weight: 600;
    text-transform: lowercase;
    color: black;
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
    margin: 20px;
}

.nav-links-mobile {
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 8vh;
    background: white;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 9999999;
}

.nav-links-mobile a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.nav-links-mobile li {
    opacity: 1;
}

/* HERO SECTION */

.hero {
    height: 90vh;
    position: relative;
}

.text__container {
    position: absolute;
    top:40%;
    left: 10%;


}

hr {
    height: 10px;
    background: black;
    border: none;
    width: 40px;
    margin-top: 15px;
    margin-left: 7px;
}


.homepage_text {
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 90px;
    font-weight: 800;
    line-height: 85px;
    
}

.homepage_subtext {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 65px;
}

.image_container {
    height: 500px;
    width: 400px;
    position: absolute;
    top: 45%;
   right: 10%;
 
}

.image_container img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}




.background__image {
    background-image: url(./images/webdesign.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.email_text {
    color: black;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 900;
    transform: rotate(-90deg);
    position: absolute;
}

/* Down Arrow */
.link {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    transform: rotate(-90deg) translate3d(-300px, 0, 0);
  }
  .link__arrow {
    display: inline-flex;
  }
  .link__arrow span {
    position: relative;
    width: 14px;
    height: 2px;
    border-radius: 2px;
    overflow: hidden;
    background: #000;
    z-index: 2;
  }
  .link__arrow span:nth-child(1) {
    transform-origin: left bottom;
    transform: rotate(45deg) translate3d(8px, -10px, 0);
  }
  .link__arrow span:nth-child(2) {
    transform-origin: left bottom;
    transform: rotate(-45deg);
  }
  .link__arrow span:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background: #01ac6a;
  }
  .link__line {
    position: relative;
    margin-left: -14px;
    margin-right: 30px;
    width: 90px;
    height: 2px;
    background: #000;
    overflow: hidden;
    z-index: 1;
  }
  .link__line:after {
    content: '';
    display: block;
    position: absolute;
    left: 80px;
    width: 70px;
    height: 2px;
    background: #01ac6a;
  }
  .link__text {
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
  }
  .link:hover .link__line:after {
    animation: animation-line 1.5s forwards;
  }
  .link:hover .link__arrow span:after {
    animation: animation-arrow 1.5s forwards;
    animation-delay: 1s;
  }
  @keyframes animation-line {
    0% {
      left: 80px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes animation-arrow {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }










